<h2>Editar Cliente</h2>

<form style="width: 100%;">
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.client.name" name="name" required />
  </mat-form-field>

  <!-- <mat-form-field appearance="fill" class="full-width">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput [(ngModel)]="data.client.birthDate" mask="00/00/0000" name="birthDate" required />
  </mat-form-field> -->

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
  </div>
</form>
