.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    gap: 16px; /* Espaçamento entre as colunas */
  }
  
  .form-field {
    flex: 1;
    margin: 0 8px; /* Margem horizontal entre as colunas */
  }
  
  .form-buttons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }