/* app.component.css */
mat-toolbar {
    background: #003366; /* Cor de fundo do toolbar */
    color: white; /* Cor do texto */
  }
  
  .horizontal-menu {
    background: #f5f5f5;
    color: #000;
    display: flex;
    justify-content: space-around; /* Distribui itens igualmente ao longo do toolbar */
  }
  
  .horizontal-menu a {
    /* color: white; */
    text-transform: uppercase;
    font-weight: bold;
  }
  
  main {
    padding: 16px; /* Espaçamento interno do conteúdo principal */
  }

  /* Adicionando responsividade */
@media (max-width: 600px) {
    .horizontal-menu {
      flex-direction: column;
      align-items: center;
    }
    .horizontal-menu a {
      font-size: 14px;
    }
  }
  